<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Swift_meipai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1269EB251E41AFB300ACCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1269EB391E41AFB400ACCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1269EB441E41AFB400ACCE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>126C91A11EA5B391007CFB92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>126C91A91EA5B392007CFB92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
